# Dependencias
node_modules/

# Archivos compilados (Salida de TypeScript)
out/
dist/

# Logs de errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configuración de entorno local
.env
.DS_Store